/* Additional styles */

.content-sidebar ul.nav-pills li {
  display: none;
}

/* Overview subsection */

figcaption .center-caption {
  text-align: center;
  margin-bottom: 0.50em;
}

#tab-overview figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
}

#tab-overview figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

#tab-overview figure:hover figcaption {
  opacity: 1;
}

#tab-overview figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}

#tab-overview figure:hover:before {
  opacity: 0;
}

#tab-overview .cap-bot:before { bottom: 10px; left: 10px; }
#tab-overview .cap-bot figcaption { left: 0; bottom: -30%;}
#tab-overview .cap-bot:hover figcaption { bottom: 0; }


/* Photos subsection */

#tab-photos .related-photos {
  overflow: auto;
}

#tab-photos .each-photo {
  width: 100px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

#photo-pagination,
#places-pagination {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

#photo-pagination li,
#places-pagination li {
  display: inline;
  padding: 0 5px;
}

#photo-pagination li input.page-input,
#places-pagination li input.page-input {
  width: 45px;
  text-align: center;
  height: 22px;
}

li.first-page,
li.last-page,
li.previous-page,
li.next-page {
  font-size: smaller;
}

#tab-photos .paginated-spin,
#tab-audio-video .paginated-spin,
#tab-places .paginated-spin {
  float: left;
  display: inline-block;
  margin-top: 10px;
  display: none;
}

#tab-photos #photo-pagination>li>a,
#tab-audio-video #photo-pagination>li>a,
#tab-places #places-pagination>li>a {
  color: #DC3C47;
}

#tab-photos #photo-pagination>.active>a,
#tab-photos #photo-pagination>.active>span,
#tab-photos #photo-pagination>.active>a:hover,
#tab-photos #photo-pagination>.active>span:hover,
#tab-photos #photo-pagination>.active>a:focus,
#tab-photos #photo-pagination>.active>span:focus,
#tab-audio-video #photo-pagination>.active>a,
#tab-audio-video #photo-pagination>.active>span,
#tab-audio-video #photo-pagination>.active>a:hover,
#tab-audio-video #photo-pagination>.active>span:hover,
#tab-audio-video #photo-pagination>.active>a:focus,
#tab-audio-video #photo-pagination>.active>span:focus,
#tab-places #places-pagination>.active>a,
#tab-places #places-pagination>.active>span,
#tab-places #places-pagination>.active>a:hover,
#tab-places #places-pagination>.active>span:hover,
#tab-places #places-pagination>.active>a:focus,
#tab-places #places-pagination>.active>span:focus {
  background-color: #DC3C47;
  border-color: #DC3C47;
  color: white;
}

.each-photo a.thumbnail:hover,
.each-av a.thumbnail:hover,
.each-text a.thumbnail:hover {
  border-color: #DC3C47;
}


/* Fix for the spinner icon */

.content-sidebar ul.nav-pills li a i.fa:before {
  top: 0;
}

/* Audio Video Subsection */

#tab-audio-video .related-audio-video {
  overflow: auto;
}

#tab-audio-video .each-av {
  width: 76px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* Texts Subsection */

#tab-texts .related-texts {
  overflow: auto;
}

#tab-texts .each-text {
  width: 120px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

h6.custom-inline {
  display: inline;
}

.summary-overview {
  margin-top: 20px;
}

.list-group {
  margin-bottom: 0;
}

.list-group-item {
  padding: 2px 15px;
}

.center-me {
  text-align: center;
}

















