/*--- HEADER */
.titlearea { background-color: #4CA6FB;}
.titlearea .breadwrap ol li i{ background: #4ca6fb;}


/*--- CONTENT */
.content-resources ul.nav-pills li.active { border-left-color: #4CA6FB;}

/* .content-resources ul.nav-pills li { display: none; } */

button.btn.btn-default.italic.active{
	color:#fff;
	background:#606060;
}
/* --- gmaps-buttons is example of class set on div wrapper ---*/
.btn-group-gmaps{
	display:inline-block;
	position:relative;
	top:-95px;
	left:80px;
	-moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
}

.modal-header button.close{ color:#777; font-size:5em !important; position:relative; top:0;}

.panel-group .panel{ -webkit-box-shadow:0 0 5px rgba(0,0,0, 0.125); box-shadow:0 0 5px rgba(0,0,0, 0.125); border-collapse:separate;}

.breadwrap ol li:last-child{ 
	position:relative;
	top:-0.93em;
}








