/*----------------------------------------------*/
/*--- START :: Sliding Panel ---*/
/*----------------------------------------------*/
/*--- clear default extruder styles -----*/
.extruder, .extruder.right,.extruder .extruder-content, .extruder.right .flap .flapLabel, .extruder .text, .extruder .voice.hover, .extruder .voice.sel, .extruder .settingsBtn, .extruder .optionsPanel,.optionsPanel .panelVoice a:hover{ overflow:visible; background-image:none; background:transparent;} 
.extruder.open .extruder-content, .extruder.right.open .extruder-content,.extruder.right .flap,.extruder .voice,.extruder.right .text,.optionsPanel .panelVoice a{ -webkit-box-shadow:none;box-shadow:none; text-transform:none;}
.extruder.right .extruder-content,.panel-default .panel-heading,.extruder.right .panel-heading,.extruder.right .panel-group,.extruder.right .panel-group .panel,.extruder.right .panel-default>.panel-heading{ border:none;}

/*--------------------------*/
/*--- panel ---*/
.extruder.right{ padding:0; border:none; background:transparent !important; -webkit-box-shadow:none;box-shadow:none;}
.extruder.right,
.extruder.right.isOpened{ }
.ext_wrapper{ height:auto; padding:0; }
.extruder.right .extruder-content{ overflow:visible !important;  background:transparent !important; border:none; padding:0;width:100%; -webkit-box-shadow:0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500);box-shadow:0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500); border-collapse: separate; /* fix for ie9 shadow */}
.extruder.right.isOpened .extruder-content{ border-right-width:12px; background:transparent !important;}
.extruder .text{ border:none; padding:0; text-shadow:none; width:277px; min-width:277px !important; /*---- default panel container width is set ----*/}

.extruder.right .flap span.flapLabel,
.extruder.right .flap.on-flap span.flapLabel,
.extruder.right .flap,
.extruder.right.isOpened .flap,
.extruder.right.isOpened .flap.on-flap span.flapLabel,
.extruder.right .flap>span,
.extruder.right .flap.on-flap>span,
.extruder.right .flap.on-hover>span,
.extruder.right .flap.on-hover.on-flap>span{ width:0; padding:0; border:none; background:transparent;}

object.flip_label{ display:none;}
.extruder.right.open-collections{ margin-top:280px;}
/*--- handle ---*/
 div.text.ui-resizable{ }
 div.text.ui-resizable,
.isOpened div.text.ui-resizable{ position:static;} /*--- NOTE this is super important to keep the right edge pinned while expanding width */
.ui-resizable-handle.ui-resizable-w{ cursor:col-resize; position:absolute; left:1px; top:10px; /* top:85%; */ z-index:900; width:6px; height:97%;}
.ui-resizable-handle.ui-resizable-w:hover{ }
.ui-resizable-handle.ui-resizable-w:active{ background:#fafafa;}



/*--- panel ---*/
#kmaps-search.extruder.right{ margin-top:7px; }
#kmaps-search .ext_wrapper{ height:auto; padding:0; }
#kmaps-search.extruder.right .extruder-content{ background:transparent !important; overflow:visible !important; border:7px solid #fff; border-right-width:0px;  padding:0;	width:100%; -webkit-box-shadow:0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500);box-shadow:0 0 5px hsla(0, 0.0000%, 60.0000%, 0.7500); border-collapse:separate;}
#kmaps-search.extruder.right.isOpened .extruder-content{ border-right-width:12px;}
#kmaps-search.extruder .text{ border:none; padding:0; text-shadow:none; background:#f8f8f8; color:#333;}

/*--- big search button inline styles are loaded via main.js with icon markup  */
#kmaps-search.extruder.right .flap{ cursor:pointer; display:block; background:#fff; height:48px; width:45px; padding: 7px 0 7px 7px;margin:0 0 0 -7px; border-top-left-radius:44px;border-bottom-left-radius:44px; background-clip: padding-box;}
#kmaps-search.extruder.right .flap.on-flap{ border-collapse:separate;}
#kmaps-search.extruder.right .flap span.flapLabel,
#kmaps-search.extruder.right .flap.on-flap span.flapLabel{ width:37px !important;background:#505050; height:30px;display:block; padding:17px 38px 17px 0; margin:0;border-top-left-radius:20px;border-bottom-left-radius:20px; background-clip: padding-box;}
#kmaps-search.extruder.right.isOpened .flap{ width:48px;}
#kmaps-search.extruder.right.isOpened .flap.on-flap span.flapLabel{ width:30px !important;}
/*----- css for the flap is inserted inline, see js/main ---*/
#kmaps-search.extruder.right .flap>span,
#kmaps-search.extruder.right .flap.on-flap>span{ color:#ddd;-webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; transition: all .3s ease-out;}
#kmaps-search.extruder.right .flap.on-hover>span,
#kmaps-search.extruder.right .flap.on-hover.on-flap>span{ color:#fff;background:#444;-webkit-transition: all .3s ease-out;-moz-transition: all .3s ease-out;transition: all .3s ease-out;}



#menu-main.extruder.right{ margin-top:39px;color:#888 !important;}
#menu-main.extruder.right .extruder-content{ background:transparent !important;color:#888 !important;overflow:visible !important; -webkit-box-shadow:none !important; box-shadow:none !important; }
#menu-main.extruder.right.isOpened .extruder-content{ color:#888 !important;}
#menu-main.extruder .text{ color:#888 !important;}

#menu-collections.extruder.right{ margin-top:39px;color:#888 !important;}
#menu-collections.extruder.right .extruder-content{ color:#888 !important;background:transparent !important;overflow:visible !important; -webkit-box-shadow:none !important; box-shadow:none !important; }
#menu-collections.extruder.right.isOpened .extruder-content{ color:#fff !important;}
#menu-collections.extruder .text{ color:#888 !important;}
/*----------------------------------------------*/
/*--- END :: Sliding Panel ---------------------*/






/*--- START :: Search Panel :: Input & View ----*/
/*----------------------------------------------*/
.input-section{ padding:0;border: 1px solid #e0e0e0;display:block;width:100%;}
.input-section .input-group input.form-control:first-child{ border-bottom-right-radius: 25px;border-top-right-radius: 25px; background-clip: padding-box;}
.input-section .input-group{ padding: 0 12px 0 10px; display:block; width:100%; background:#f8f8f8;}
.input-section .input-group input.form-control{
	color:#777;
	border: 1px solid #ccc;
	border-radius: 25px;
	background-clip: padding-box;
	font-size:1.06em;
	height:35px; /* coordinate with button height below */
	line-height:1.44em;
	margin: 8px 0 0; 
	padding:2px 60px 0 15px;
  width:100%;  
	overflow: auto;
	vertical-align:middle;
	-webkit-box-shadow:0 2px 5px #eee inset;
	box-shadow:0 2px 5px #eee inset; 
	border-collapse: separate; /* fix for ie9 shadow */
	background: #fff;
	-webkit-transition-property: all;
	-webkit-transition-duration: 400ms;
	transition-property: all;
	transition-duration: 400ms;
}
.input-section .input-group input.form-control:hover{ border: 1px solid #ccc; color:#777;}
.input-section .input-group input.form-control:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8;box-shadow: 0 0 4px #949bd8; border-collapse: separate; /* fix for ie9 shadow */}

/*--- button group ---*/
.input-section .input-group .input-group-btn{ width:45px !important; /* set button width and position */ position:absolute; top:9px; right:12px; z-index:10; background:transparent; padding:0; margin:0;}

/*--- button ---*/
.input-section .input-group #searchbutton{ 
	display:block; 
	height:33px; /* 2px less than search input height above */		
	color:#888;
	width:100%; 
	border: 1px solid #e5e5e5;
	border-width:0 0 0 1px;
  border-radius: 25px !important;
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important; 
	background-clip: padding-box;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-section .input-group #searchbutton:hover{ color:#dc3c47;}
.input-section .input-group #searchbutton:active, .input-section .input-group .btn-default.active{ background: transparent; border-color:#fff; /* active state for button */}
.input-section .input-group #searchbutton{ font-family: 'Glyphicons Halflings';}
.input-section .input-group #searchbutton:before{ content: "\e080"; position:relative; right:2px; top:1px;}
.input-section .input-group #searchbutton:active, 
.input-section .input-group #searchbutton.active{ color:#777;}
/*--- clear all button ---*/
.input-section .input-group .btn.searchreset { 
	border:none;
	background:transparent;
	background-image:none;
	width:15px;
	height:15px;
	position:absolute;
	right:50px;
	top:9px;
	z-index:10000;
	padding:0;
	margin:0;
	display:none;
}
.input-section .input-group .btn.searchreset:active,
.input-section .input-group .btn.searchreset.active{ box-shadow:none; background-image:none;}
.input-section .input-group .btn.searchreset i.icon{ font-size:1.25em; color:#aaa; }
.input-section .input-group .btn.searchreset  i.icon:before{ font-family: 'shanticon'; content: "\e610"; }

.input-section .feature-group .feature-reset{
	border:none;
	background:transparent;
	background-image:none;
	width:15px;
	height:15px;
	position:absolute;
	right:13px;
	top:22px;
	z-index:10000;
	display:none;
	padding:0;
	margin:0;
}
.input-section .feature-group .feature-reset i.icon{ font-size:1.25em; color:#c0c0c0; }
.input-section .feature-group .feature-reset i.icon:before{ font-family: 'shanticon'; content: "\e610"; }

/*-----------------------------------------------*/

.input-section .form-group{ margin-bottom:7px;padding-left:0;}
.input-section .search-group{ height:80px;}
.input-section .search-group .form-group{ padding-left:10px;}
.input-section .search-group .checkbox-inline:first-child{ margin-right: 5px;}
.input-section .search-group .checkbox-inline>div{ margin-right: 4px;}
/*----- Advanced Options -----*/
.advanced-view{ /*** height:275px;  height can help control cross-browser issues ***/ padding:0 0 10px; background:#f8f8f8; width:100%; margin-right:4px;}
.advanced-view .form-group{ border-top:1px solid #e0e0e0; margin:0 8px;}
.advanced-view .form-group.last{ padding-bottom:0;}

.input-section label{ color:#444; font-size:13px; line-height:30px; height:28px; padding-right:0; margin-right:0;}

/*--- toggle links for search panel ---*/
.input-section .toggle-link{ background:#f8f8f8;color:#dc3c47;font-size:0.93em;display:block;text-align:right;font-weight:600; line-height:0.88em; height:1.12em; margin:0;padding:0 25px 0 0; text-decoration:none; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;}
.input-section .toggle-link:hover{ text-decoration:none !important; color:#555;}
.input-section .toggle-link i{ font-family:'FontAwesome'; }
.input-section .toggle-link i.icon:before{ color:#dc3c47; font-family:'FontAwesome'; content:"\f067"; font-size:0.68em; margin-right:0.12em;}
.input-section .toggle-link:hover i.icon:before{ color:#555;}
/*---------------------------*/
/*--- custom sizes & position ---*/
.input-section .feature-group .toggle-link.feature-toggle{ float:right;padding:0 10px 0 0;margin:0;display:inline;position:relative;top:-1px;}
.input-section .toggle-link.advanced-link{ margin:0;padding:0;position:relative;top:21px;left:-14px; float:right;}
.input-section .feature-group .toggle-link.show-features i.icon:before, /*--- for feature types ---*/
.input-section .toggle-link.show-advanced i.icon:before{content:'\f068';} /*--- for advanced ---*/

/***
.input-section .feature-group .toggle-link.feature-toggle{ float:right;padding:0 10px 0 0;margin:0;display:inline;position:relative;top:-1px;}
.input-section .toggle-link.advanced-link{ margin-bottom:4px;}
.input-section .feature-group .toggle-link.show-features i{ content:'\f068';}
.input-section .toggle-link.advanced-link.show-options i.icon:before,
.input-section .feature-group .toggle-link.feature-toggle.show-features i.icon:before{ fcontent:'\f068';}
***/

/*--- iCheck :: radio and checkbox style overrides ---*/
/*--- reset default size ---*/
.icheckbox_minimal-red, 
.iradio_minimal-red{ width:1.63em; height:1.63em;}

.input-section .icheckbox_minimal-red, 
.input-section .iradio_minimal-red{ width:1.44em; height:1.44em;}

.input-section .radio-inline input,
.input-section .radio input[type="radio"], 
.input-section .radio-inline input[type="radio"]{ margin-left:5px;}

.input-section .checkbox-inline,
.input-section .radio-inline{ padding:0 0 0 3px;}
/* .input-section .checkbox-inline{ margin-left:1px;} */

.input-section .radio-inline+.radio-inline, 
.input-section .checkbox-inline+.checkbox-inline{ margin-left:0.06em;}

.input-section .radio-inline>div,
.input-section .checkbox-inline>div{ position:relative; top:-2px; margin:0;padding:0;} /* graphic icon */

.input-section label.radio-inline:first-child{ width:6em; min-width:6em; max-width:15em; padding-left:4px;}

/*--- END iCheck ---*/



/*--------------------------------------------------*/
/*--- feature types tree and select dropdown -------*/
/*--------------------------------------------------*/
/*--- toggle styles are with advanced link ---*/
.input-section .feature-group{ padding:0 0 1px;}
.input-section .feature-group:first-child{ margin-top:20px;}
/*--- feature search input ---*/
.input-section .feature-group .form-control{ margin:15px 0 0 !important;}
/*--- filtering button and readout above input ---*/
.input-section .feature-group span.filter{ float:left;padding-left:15px;height:15px; position:relative;top:-2px; display:none;}
.input-section .feature-group span#matches1,
.input-section .feature-group span#matches2,
.input-section .feature-group span#matches3{ color:#555; font-size:0.82em; position:relative;top:-1px;}
.input-section .feature-group label{ color:#555; padding:0;margin:0; font-size:0.88em; line-height:12px;height:15px;}

/*--- the feature dropdown-menu ---*/
.feature-group .dropdown-menu{ height:320px; overflow:auto; border-radius:12px; background-clip: padding-box; padding:0; top:46px; left:0; width:100%; min-width:220px;}
/* .feature-group .dropdown-menu p{ font-size:.82em; line-height:normal; color:#222;}
#kmaps-search .text .feature-message{ background-color:#fff; font-size:12px;padding:10px 17px 10px; margin:0; 
border-bottom:1px solid #ccc; position:relative; z-index:99999;} */

.show-feature-tree{ padding:0; background:#f8f8f8; width:100%; margin-right:0.06em;} 
.show-feature-tree .form-group{ border-top:1px solid #e0e0e0; margin:0 8px;}
.show-feature-tree .form-group.last{ /* padding-bottom:5px; */}
/*--- bottom buttons ---*/
.feature-submit{ padding:0 17px 7px; margin:0; border-top:1px solid #ccc; width:100%; background-color:#fff; height:40px; min-height:40px;
	border-radius-bottom-left:12px; border-radius-bottom-right:12px;background-clip: padding-box;  position:absolute; bottom:0; z-index:9999;
}

.feature-group .tree-wrap{ height:312px; min-height:312px; /*--- height ---*/ padding:0; position:relative; }
.feature-container{  height:312px; min-height:312px; /*--- height ---*/ padding:0;margin:0;}
.feature-container #feature-tree1,
.feature-container #feature-tree2,
.feature-container #feature-tree3{ height:312px; min-height:312px; /*--- height ---*/ padding:0; margin:5px 0 0;} /***** container height ******/

.feature-group ul.fancytree-container{ border:none; margin-bottom:12px;margin-left:5px;font-size:0.88em;}
.feature-group .fancytree-container span.fancytree-title{ margin-left:0;padding-left:0;color:#222;}
.feature-group .fancytree-container span.fancytree-title {
    /*padding-left: 10px;
    margin-left: 0px;*/
}
.feature-group span.fancytree-node{ border:none; display:block;}

.feature-group .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected, 
.feature-group span.fancytree-node.fancytree-selected:hover{ background:transparent;border:none;}

#kmaps-search .text .feature-group { }
#kmaps-search .text input.feature-name { }


.feature-group .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active, 
.feature-group span.fancytree-node.fancytree-active:hover{ background:transparent;border:none;}
.feature-group .fancytree-container span.fancytree-node.fancytree-selected,
.feature-group .fancytree-container span.fancytree-node.fancytree-selected:hover,
.feature-group .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected, 
.feature-group .fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected:hover{ background:transparent;}

/*--- highlighting ---*/
.fancytree-node.fancytree-match{ } /* targets the filtered nodes */
.fancytree-ext-filter span.fancytree-node.fancytree-submatch span.fancytree-title{ color:#777;} /*--- highlight parent node ---*/
.fancytree-ext-filter span.fancytree-node.fancytree-match span.fancytree-title { color:#555;} /* fancytree-match is the class for the actual feature highlight - default is font-weight: bold; */

.feature-group span.fancytree-icon{ background-image:none; margin:0; padding:0; width:0; height:0; line-height:0; display:none;}
.feature-group .fancytree-container .glyphicon{ color: #888;font-size: 13px; position:relative; right:3px;}
.feature-group .fancytree-container span.fancytree-node:hover > .glyphicon{ color: #333;}
.feature-group .fancytree-container span.fancytree-node span.glyphicon.fancy-checkbox{ }
.feature-group .fancytree-container span.fancytree-node span.glyphicon.glyphicon-share{ color:#000 !important;}
.feature-group .fancytree-container span.fancytree-node span.glyphicon.glyphicon-check{ color:#c00 !important;}

.fancytree-node.fancytree-active.fancytree-focused.fancytree-has-children.fancytree-exp-c.fancytree-ico-c{
	background:transparent;
}

.feature-group span.fancytree-icon{ /*width:3px;display:inline;*/}






.feature-submit .btn.btn-default{ /*--- the select button ---*/
	font-size:0.75em; background-color:#dc3c47;color:#fff; padding:3px 13px 2px; margin-top:7px; background-image:none; border:none; -webkit-box-shadow:none !important;box-shadow:none !important;text-transform:uppercase;text-shadow:none;
}
.feature-submit .btn.btn-default>span{ }
.feature-submit .btn.btn-default.clear-form{ /*--- the clear button ---*/
	border:none;
	background:transparent;
	font-size:0.88em;
	padding:0;
	position:relative;
	top:0px;
	left:-10px;
	float:right;
	-webkit-box-shadow:none; 
	box-shadow:none;
	font-weight:bold; 
	color:#dc3c47;
	text-transform: capitalize; 
	border-radius:0;
}
.feature-submit .btn.btn-default.clear-form:hover{ color:#333;}
.feature-submit .btn.btn-default.clear-form:active{ color:#dc3c47;}
.feature-submit .btn.btn-default.clear-form i.icon{  color:#dc3c47; font-size:1.56em; position:relative; top:4px; left:1px; }
.feature-submit .btn.btn-default.clear-form i.icon:before{ font-family: 'shanticon'; content: "\e610"; }
.feature-submit .btn.btn-default.clear-form:hover i.icon{ color:#333;}
.feature-submit .btn.btn-default.clear-form:active i.icon{ color:#c3c47;}

.advanced-view .form-group.advanced-input{ padding:2px 5px 2px;} /*--- common input ---*/
.advanced-view .form-group.advanced-input .form-control{ 
	line-height:27px; 
	height:27px; 
	padding:0 15px; 
	margin:2px 0;
	width:100% !important;
	color:#666;
	background: #fff;
	background-image:none;
	border: 1px solid #ccc;
	border-radius:18px;  	
	background-clip: padding-box;
	overflow:hidden;
	vertical-align:middle;	
	-webkit-box-shadow:0px 2px 5px #eee inset;
	box-shadow:0px 2px 5px #eee inset;
	border-collapse: separate;
}
.advanced-view .form-group.advanced-input .form-control:hover{ border: 1px solid #ccc; color:#777;}
.advanced-view .form-group.advanced-input .form-control:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8; box-shadow: 0 0 4px #949bd8;border-collapse: separate;}

.advanced-view .form-group.advanced-input.select-type > span{ position:relative;top:3px;left:4px;color:#404040; }
/*--- END advanced ---*/

/*----------------------------------------------------*/
/*--- END :: Input & View ----------------------------*/




/*---- START View Section :: Tabs - Table - Tree -----*/
/*----------------------------------------------------*/
.view-section{ display:none;background:#fff;} /*--- prevent flash on load */
.isOpened .view-section{ border-top:5px solid #fff;}
.view-section .tab-content{ background:#f8f8f8; padding:0; border: 1px solid #ddd; border-width:0 1px 1px;}
.view-section .tab-content .tab-pane{ padding:0;}
.view-section .tab-content .tab-pane.treeview{ }
.view-section .nav-tabs>li{ width:35%; max-width:130px; font-size:1.06em; line-height:1.5em; letter-spacing:0.06em;}
.view-section .nav-tabs>li>a{
	color:#777;
	font-size:14px;
	line-height:25px;	
	margin-right: 2px;
	font-weight:bold;
	padding:10px 0 5px 0;
	display:none; /*--- prevent flash on load */
	text-align:center;
	background:#fcfcfc;
	border: 1px solid #eee;
	border-bottom-color: #ddd;
	border-top:2px solid #f0f0f0;
	-webkit-transition: background-color 100ms;
	transition: background-color 100ms;

}
.view-section .nav-tabs>li>a:hover, 
.view-section .nav-tabs>li>a:focus{  border-color:#ddd; border-top:2px solid #ccc; color:#333; background:white;}
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:focus{ color:#dc3c47; font-size:14px; background:#f8f8f8; text-decoration:none; border-color:#ddd; border-top:2px solid #e36159; border-bottom-color:transparent;}
.view-section .listview>div,
.view-section .treeview>div{ padding:0; overflow:auto;}
.view-section .listview>div{ padding-top:7px;}
.view-section .treeview .tab-content{ padding-top:10px; padding-bottom:0;}
.view-section .nav-tabs>li> i{ width:16px; height:16px;}
.view-section .nav-tabs>li> a i:before{ font-size:13px; position:relative; top:0; right:5px;}
.view-section .nav-tabs>li.active> a i:before{ font-size:16px; position:relative; top:1px; right:5px;}
/*---- END tabs -----*/

/*---- START list table view ----*/
.view-section table.table-responsive{ text-align:center; border:none;}
.view-section table.table-results{ border:none; font-size:13px; line-height:20px; margin:0 2%; margin-top:-9px !important; width:96%; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;}
.view-section table.table-results a{ font-style:italic;}

.view-section table.table-results tbody>tr>td,
.view-section table.table-results tbody>tr>td>div,
.view-section table.table-results tbody>tr>td>span{ display:table-cell; white-space:normal; position: static; line-height:20px; padding-bottom:2px; text-align:left; width: 50% !important; min-width: 200px !important; overflow: hidden; text-overflow: ellipsis;}

.view-section table.table-results tbody > tr > td:nth-of-type() div { }

.view-section table.table-results tbody tr{ }
.view-section table.table-results tbody tr:hover{ background: #fff;}
.view-section table.table-results thead tr th:after{ color:#555; font-family: 'shanticon'; content: "\e609"; font-size: 14px; margin-left:0; position:relative; top:2px;}
.view-section table.table-results thead tr th{ border-bottom:2px solid #ddd; color:#333; padding-left:5px; line-height:20px;text-align:left; width: 50%;}
.view-section table.table-results thead tr th:hover,
.view-section table.table-results thead tr th:hover:after{ color:#dc3c47; cursor:pointer;}

/* .view-section .table>thead:first-child>tr:first-child>th{ float:left;} */
/* .view-section table.table-results tr:nth-child(even) {background: #fcfcfc;} */

.view-section table.table-results tbody>tr>td blockquote,
.view-section table.table-results tbody>tr>td quote{ font-size: 0.5em !important;}

.view-section span.title-field {  /* position: static; float: none;  width: 85%;*//*max-height: 1.3em;*//*white-space: nowrap;*//*overflow: hidden;*//*text-overflow: ellipsis;*/}

th.sorting_asc,
table.dataTable thead .sorting_asc{ background:none;border:none;width:0;min-width:0; }



/* trunk8 */
.view-section .col-xs-6 { width: 100%; font-size: 0.63em; padding-right: 0; /*padding-left: 0em;*//*margin-left: -2em;*/}
.view-section .pagination>li>a, 
.pagination>li>span { padding:7px 9px;}
.view-section .pagination { margin:4px 0 2px 15px; }
.view-section .row { margin-right: 0;/*margin-left: 0em;*/}
/* .listview td.sorting_1 { min-width: 12em;} */




.view-section .dataTables_info { font-size: 0.82em; margin-left: 1em; margin-bottom:20px;}
.view-section .dataTables_length label{ margin-left:10px;}

.view-section .dataTables_filter label{ position:relative; top:0; margin-right:10px;}
.view-section div.dataTables_filter input{
	font-size: 0.92em;
	line-height:1.32em; 
	height:1.32em; 
	padding:0 10px; 
	margin:0 0 0 5px;
	position:relative; 
	top:-2px;
	color:#666;
	width:8em;
	background: #fff;
	background-image:none;
	border: 1px solid #ccc;
	border-radius:15px;  	
	background-clip: padding-box;
	overflow:hidden;
	vertical-align:middle;	
	-webkit-box-shadow:0px 2px 5px #eee inset;
	box-shadow:0px 2px 5px #eee inset;
	border-collapse: separate; /* fix for ie9 shadow */
}
.view-section div.dataTables_filter input:hover{ border: 1px solid #ccc; color:#777;}
.view-section div.dataTables_filter input:focus{ border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px #949bd8; box-shadow: 0 0 4px #949bd8;}












/* ----- overlay timer ------ */
/* ----- search loading ----- */

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}
@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading-container,
.loading {
    height: 130px;
    position: relative; top:-200px;
    width: 130px;
    border-radius: 100%;
    background-clip: padding-box;
}
.loading-container { margin: 40px auto; }
.loading {
    border: 2px solid transparent;
    border-color: transparent #777 transparent #777;
    -moz-animation: rotate-loading 1s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1s linear 0s infinite normal;
    transform-origin: 50% 50%;
}
.loading-container:hover .loading {
    border-color: transparent #999 transparent #999;
}
.loading-container .loading,
.loading-container:hover .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #555;
    font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    opacity: 0;
    position: relative;
    left:7px;
    top:-10px;
    text-align: center;
    width: 130px;
}
/* ----- END search loading ----- */




/* ----- BEGIN tooltip popup on search view-section ----- */
.searchPop{ display:none; }
.searchPop > .popover-title{ font-size:0.88em; line-height:1.12em; padding:12px 12px 7px; position:relative;}
.searchPop > .popover-title .kmapid-display { 
	position:absolute; top:2px; right:10px; 
  font-size: 0.75em;
  white-space:nowrap;
  margin: 0;
  color: #707070;
}
.searchPop > .popover-title .kmapid-display:before { /* content: "" */ }
.searchPop > .popover-content{
	font-family: "Museo Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 0.75em;
	padding-top:4px 12px;	
}
.searchPop > .popover-content > p {
	padding:0 8px;
	margin:5px 0 0;
	font-size: 1.18em;
	border-left:4px solid #f0f0f0;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.searchPop > .popover-content > .kmap-path{
	display:inline;
	font-size: 0.93em;
	line-height:1em;
	-ms-word-break: break-all;
  word-break: break-all;
}
.searchPop > .counts-display {
  display: block;
  float: right;
  clear: both;
  white-space:nowrap;
  margin-left: 0;
  margin-right: 0;
  color: #888;
}
.searchPop > .popover-content .info-wrap { min-width: 18em;}
.searchPop > .popover-content .counts-display { display:block; height: 4.12em; padding:5px; margin-top:2px;}
.searchPop > .popover-content .badge {
  margin:0 5px;
  position: relative;
  top: 22px;
  font-size: 0.88em;
  font-family: sans-serif;
  line-height:1.18em;
  height:1.56em;
  letter-spacing: 0.06em;
  border:1px solid #c0c0c0;
  background:#f9f9f9; 
  color:#111;
  padding:1px 6px; 
	font-weight:normal;
}
.searchPop > .popover-content .associated{ /* background:#f0f0f0; */ text-align:center; float:right; position:relative; top:5px; height:36px; margin:0 0 5px 0; border-left:1px solid #ddd; }
.searchPop > .popover-content .associated:first-child{
	margin-right:-17px;
}
.searchPop > .popover-content .associated i{
	font-size:1.56em;
	position:absolute;
	bottom:17px;
	color:#808080;
	margin:0 0 0 7px;
}
/*--- END trunk8 */
/*-----------------*/
/*--- END Table ---*/







/*------------------------------*/
/*---- START :: Search Tree ----*/
/*------------------------------*/
.view-section ul.fancytree-container{ margin:0; background:transparent; border:none; font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }
.view-section ul.fancytree-container ul{ padding-top:0; margin-top:0;}
.view-section ul.fancytree-container li{ }

.view-section span.fancytree-icon{ margin:0; padding:0; width:0; height:0; line-height:0; display:none;} /*--- remove checkbox ---*/
.view-section span.fancytree-node{ border:none; display:block;}

.view-section span.fancytree-expander:before{ }
.view-section span.fancytree-node.fancytree-active{ background:white !important; border:none; -webkit-box-shadow: 0 0 3px 0 #aaa;box-shadow: 0 0 3px 0 #aaa; border-collapse: separate;}

.view-section span.fancytree-title{ 
	color:#444; 
	margin:0 0 0 -24px; 
	padding-left:15px; 
	padding-top:2px;
	line-height:1.5em; 
	height:1.5em; 
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
  box-sizing: content-box;
}
.view-section span.fancytree-title:hover{ color:#000;}
.view-section span.fancytree-title:before{
	background: #fff;
	color:transparent;
	font-family: 'shanticon';
	content: "\e625";
	font-size: 1em;
	float:left;
	position:relative; top:4px; right:2px;
  border-radius: 50%;
  background-clip: padding-box;
  width: 9px;
  height: 9px;
  display: block;
  margin-right:7px;
  -webkit-box-shadow:0 0 2px 1px #aaa;
  box-shadow:0 0 2px 1px #aaa;
  border-collapse: separate; /* fix for ie9 shadow */
}
.view-section span.fancytree-title:hover:before {
    background: #777; -webkit-box-shadow:none; box-shadow:none;
}
.view-section .fancytree-statusnode-wait span.fancytree-title:before,
.view-section .fancytree-statusnode-error span.fancytree-title:before{ 
  width:0;
  height:0;
  display: none;
  color:transparent;
  -webkit-box-shadow:none;
  box-shadow:none;	
  background:transparent;
}
.view-section span.fancytree-has-children>span.fancytree-title {
    padding-left: 10px;
    margin-left: -15px;
}
.view-section span.fancytree-has-children span.fancytree-title:before {
    content: none;
    position: relative;
    top: 0;
}
.view-section tr.row_selected {
    display: block;
    background: #fff;
    -webkit-box-shadow: 0 0 3px 0 #aaa;
    box-shadow: 0 0 3px 0 #aaa;
    border-collapse: separate; /* fix for ie9 shadow */
}
.view-section span.fancytree-active span.fancytree-title {
    color: #000;
}
.view-section span.fancytree-active.fancytree-has-children span.fancytree-title:before {
    content: none;
    text-shadow: none;
    display: none;
}
.view-section span.fancytree-active span.fancytree-title:before {
    background: #f4222c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.view-section ul.fancytree-container .glyphicon {
    color: #888;
    font-family: 'Glyphicons Halflings';
    font-size: 13px;
    margin-right: 12px;
    position: relative;
    top: 4px;
}
.view-section ul.fancytree-container span.fancytree-node:hover > .glyphicon {
    color: #333;
}
.view-section ul.fancytree-container span.fancytree-node.fancytree-active:focus > .glyphicon,
.view-section ul.fancytree-container span.fancytree-node.fancytree-active .glyphicon {
    color: #dc3c47;
    background: transparent;
}
/*--- hihglight search text ---*/
/*.view-section span.fancytree-title > em,*/
.view-section mark {
    color: #dc3c47;
    font-style: normal;
    padding: 0;
    background: transparent;
}
/*---- END treeview -----*/


/*--------------------------------*/
/*--- END SEARCH PANEL -----------*/
/*--------------------------------*/




/*-----------------------------------------------*/
/*---- select dropdown -----*/
.input-section .bootstrap-select{ width:100%; padding:0 5px 0 5px; margin-top:4px;margin-bottom:0;}
.input-section .bootstrap-select .selectpicker{ line-height:27px; height:27px; padding:0; border:1px solid #ddd; width:100% !important;}
.input-section .bootstrap-select .popover-title{ padding: 4px 14px; margin-bottom:5px;}

.input-section .bootstrap-select .btn{ 
	padding-left: 20px;
	 color:#606060; 
	background: transparent;
	background-image:none;
	background-image: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%); 
  background-image: -moz-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: -ms-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: -o-linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);  
  background-image: linear-gradient(top, #fff 0%, #f7f7f7 45%,  #f0f0f0 55%,  #e0e0e0 100%);
	/* 
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	*/
	background-repeat: repeat-x;
	border: 1px solid #ddd;
	border-radius:25px;  	
	background-clip: padding-box;
	border-color: #eeee #eee #ddd;
	overflow:hidden;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.input-section .bootstrap-select .btn:hover{ 
	border: 1px solid #ccc; 
	background: #eee; 
}
	
.input-section .bootstrap-select .btn:focus,
.input-section .bootstrap-select .btn.active{ outline:none !important; border: 1px solid #9097d3; -webkit-box-shadow: 0 0 4px 0 #5764de; box-shadow: 0 0 4px 0 #5764de; border-collapse: separate;
	background: #f5f5f5;
	background-image:none;
}

/*--- dropdown ---*/
.input-section .dropdown-menu.open{ border-radius:10px; background-clip: padding-box;}
.input-section .selectpicker .dropdown-menu>li>a span.text{ margin-right:0; padding-left:18px; overflow:hidden;}

.input-section .bootstrap-select.btn-group{ margin-top:10px;margin-bottom:0;-webkit-box-shadow:none;box-shadow:none;}
.bootstrap-select.btn-group:not(.input-group-btn){ margin-bottom:0;}

.input-section .bootstrap-select.btn-group .dropdown-menu{ height:255px; overflow:auto;}
.input-section .bootstrap-select.btn-group .dropdown-menu.open{ height:265px;}

.input-section .selectpicker .caret{ border:none; font-family: 'shanticon'; content: "\e609";}
.input-section .selectpicker .caret:before{ color:#dc3c47; font-size:17px; font-family: 'shanticon'; content: "\e609"; position:absolute; top:-10px; right:0px;}

.input-section .selectpicker li{ padding:0; overflow:hidden;}
.input-section .selectpicker li a{ color:#555; padding:0 15px; overflow:hidden; display:block; line-height:25px; height:25px;}

.input-section .selectpicker>li>a>span.text{ padding-left:4px !important;}

.input-section .selectpicker li a,
.input-section .selectpicker li a span.text,
.input-section .selectpicker li.selected a{ background: #fff !important;}

.input-section .selectpicker li.selected a,
.input-section .selectpicker li.selected a span.text{ font-weight:bold;}
.input-section .selectpicker li.selected a i.icon{ font-weight:bold; color:#dc3c47;}

.input-section .selectpicker li:hover,
.input-section .selectpicker li a:hover,
.input-section .selectpicker li a:active,
.input-section .selectpicker li:hover span.text,
.input-section .selectpicker li:active span.text,
.input-section .selectpicker li a span.text:hover,
.input-section .selectpicker li.selected a:hover,
.input-section .selectpicker li.selected a:active{ color:#444; background: #eee !important;}

.input-section .selectpicker li a span.text:hover,
.input-section .selectpicker li.selected a span.text:hover{ color:#444; background: #eee !important;}

.input-section .selectpicker>li>a i.check-mark,
.input-section .selectpicker>li>a:hover i.check-mark,
.input-section .selectpicker>li>a:focus i.check-mark { color:#ccc;}
	
.input-section .selectpicker>li.selected>a i.check-mark,
.input-section .selectpicker>li.selected>a:hover i.check-mark,
.input-section .selectpicker>li.selected>a:focus i.check-mark{ color:#dc3c47;}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a i.check-mark{ position:absolute; right:15px; margin-top:2px; }

.input-section .selectpicker li a span.text,
.input-section .selectpicker li a span.text:hover{ background:transparent; color:#444;}

.bootstrap-select.btn-group .btn .filter-option{ font-size:.92em;}
.bootstrap-select.btn-group .btn .filter-option i{ font-weight:normal; font-size:1.18em; margin-right:0; color:#dc3c47; position:relative; top:2px;}
.bootstrap-select.btn-group .btn .filter-option em{color:#dc3c47; font-weight:normal; font-style:normal; font-size:1.06em; display:inline-block; }

.bootstrap-select.btn-group.show-tick i:first-child{ position:relative; top:2px;}

/*--- END selectpicker ---*/



/*--- search errors ---*/
.input-section .notification-wrapper{ padding: 0 15px;}
.input-section .alert{ margin:0 10px 10px;}

























/*-------------------------------------------*/
/*--- START SHANTI Icon Font ----*/
/*-------------------------------------------*/
@font-face {
	font-family: 'shanticon';
	src:url('../fonts/shanticon/fonts/shanticon.eot?-n4brbx');
	src:url('../fonts/shanticon/fonts/shanticon.eot?#iefix-n4brbx') format('embedded-opentype'),
		url('../fonts/shanticon/fonts/shanticon.woff?-n4brbx') format('woff'),
		url('../fonts/shanticon/fonts/shanticon.ttf?-n4brbx') format('truetype'),
		url('../fonts/shanticon/fonts/shanticon.svg?-n4brbx#shanticon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon,
[class^="shanticon-"], [class*=" shanticon-"] {
	font-family: 'shanticon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*--- increases the font 33% larger relative to the icon container ---*/
.shanticon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -30%;
}
.shanticon-2x {
  font-size: 2em;
}
.shanticon-3x {
  font-size: 3em;
}
.shanticon-4x {
  font-size: 4em;
}
.shanticon-5x {
  font-size: 5em;
}
.shanticon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.shanticon-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.shanticon-ul > li {
  position: relative;
}
.shanticon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.shanticon-li.shanticon-lg {
  left: -1.8571428571428572em;
}
.shanticon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
  background-clip: padding-box;
}
.icon.pull-left {
  margin-right: .3em;
}
.icon.pull-right {
  margin-left: .3em;
}
.shanticon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/*---------------------------------------------------*/
/*--- END Default Font Styles ----*/
/*---------------------------------------------------*/




/*------------------------------------------*/
/*--- START SHANTI Custom Icon Fonts ----*/
/*------------------------------------------*/
/*--- edit default styles above with care --
 ---- NOTE: replace styles below when generating new sets --
 ----
 ---- POSITION NEW ICONS at the end and ignore alphabetical naming convention
 ---- this will maintain numbering codes, but if they should be changed, 
 ---- just search on main css files to replace the old codes
----------------------------------------------------------------------------*/

.shanticon-logo-shanti:before {
	content: "\e60b";
}
.shanticon-arrow-end-left:before {
	content: "\e63d";
}
.shanticon-arrow-end-right:before {
	content: "\e63e";
}
.shanticon-arrow-dbl-right:before {
	content: "\e63f";
}
.shanticon-arrow-dbl-left:before {
	content: "\e640";
}
.shanticon-arrow-tri-left:before {
	content: "\e641";
}
.shanticon-arrow-tri-right:before {
	content: "\e642";
}
.shanticon-arrow-tip-right:before {
	content: "\e643";
}
.shanticon-arrow-tip-left:before {
	content: "\e644";
}
.shanticon-arrow-tip-up:before {
	content: "\e645";
}
.shanticon-arrow-tip-down:before {
	content: "\e646";
}
.shanticon-arrow-empty-right:before {
	content: "\e647";
}
.shanticon-arrow-empty-left:before {
	content: "\e648";
}
.shanticon-agents:before {
	content: "\e600";
}
.shanticon-arrow-left_2:before {
	content: "\e601";
}
.shanticon-arrow-left:before {
	content: "\e602";
}
.shanticon-arrow-right_2:before {
	content: "\e603";
}
.shanticon-arrow-right:before {
	content: "\e604";
}
.shanticon-arrow3-down:before {
	content: "\e605";
}
.shanticon-arrow3-left:before {
	content: "\e606";
}
.shanticon-arrow3-right:before {
	content: "\e607";
}
.shanticon-arrow3-up:before {
	content: "\e608";
}
.shanticon-arrowselect:before {
	content: "\e609";
}
.shanticon-audio:before {
	content: "\e60a";
}
.shanticon-calendar:before {
	content: "\e60c";
}
.shanticon-audio-video:before {
	content: "\e649";
}
.shanticon-cancel:before {
	content: "\e60d";
}
.shanticon-check:before {
	content: "\e60e";
}
.shanticon-close2:before {
	content: "\e60f";
}
.shanticon-close2b:before {
	content: "\e610";
}
.shanticon-community:before {
	content: "\e611";
}
.shanticon-create:before {
	content: "\e612";
}
.shanticon-directions:before {
	content: "\e613";
}
.shanticon-disc:before {
	content: "\e614";
}
.shanticon-disc2:before {
	content: "\e615";
}
.shanticon-download:before {
	content: "\e616";
}
.shanticon-editor:before {
	content: "\e617";
}
.shanticon-essays:before {
	content: "\e618";
}
.shanticon-events:before {
	content: "\e619";
}
.shanticon-explore:before {
	content: "\e61a";
}
.shanticon-grid:before {
	content: "\e61b";
}
.shanticon-hourglass:before {
	content: "\e61c";
}
.shanticon-link-external:before {
	content: "\e61d";
}
.shanticon-list:before {
	content: "\e61e";
}
.shanticon-list2:before {
	content: "\e61f";
}
.shanticon-list4:before {
	content: "\e620";
}
.shanticon-lock-open:before {
	content: "\e621";
}
.shanticon-lock:before {
	content: "\e622";
}
.shanticon-logo:before {
	content: "\e623";
}
.shanticon-magnify:before {
	content: "\e624";
}
.shanticon-map-marker:before {
	content: "\e625";
}
.shanticon-maps:before {
	content: "\e626";
}
.shanticon-menu:before {
	content: "\e627";
}
.shanticon-menu3:before {
	content: "\e628";
}
.shanticon-multiply:before {
	content: "\e629";
}
.shanticon-overview:before {
	content: "\e62a";
}
.shanticon-photos:before {
	content: "\e62b";
}
.shanticon-places:before {
	content: "\e62c";
}
.shanticon-play-transcript:before {
	content: "\e62d";
}
.shanticon-play-video:before {
	content: "\e62e";
}
.shanticon-preview:before {
	content: "\e62f";
}
.shanticon-search:before {
	content: "\e630";
}
.shanticon-share:before {
	content: "\e631";
}
.shanticon-sources:before {
	content: "\e632";
}
.shanticon-spin3:before {
	content: "\e633";
}
.shanticon-stack:before {
	content: "\e634";
}
.shanticon-subjects:before {
	content: "\e635";
}
.shanticon-terms:before {
	content: "\e636";
}
.shanticon-texts:before {
	content: "\e637";
}
.shanticon-trash:before {
	content: "\e638";
}
.shanticon-tree:before {
	content: "\e639";
}
.shanticon-upload:before {
	content: "\e63a";
}
.shanticon-video:before {
	content: "\e63b";
}
.shanticon-visuals:before {
	content: "\e63c";
}
.shanticon-mail:before {
	content: "\e64a";
}
.shanticon-googleplus:before {
	content: "\e64b";
}
.shanticon-facebook:before {
	content: "\e64c";
}
.shanticon-twitter:before {
	content: "\e64d";
}
/*----------------------*/
/***** END Fonts ******/
/*----------------------*/



